{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div id="data">
    <div id="imgProfe">
      <img src="{% if profe.image %}
          {{ profe.image.url }}
        {% else %}
          {% static 'img/no_image.jpg' %}
        {% endif %}"
        alt="" />
      <h2 class="card-title">{{ profe.name }}</h2>
    </div>
    <div id="dataProfe">
      <div>
        <i class="bi bi-geo-fill" style="font-size: 30px;"></i>
        <h5>{{ profe.origen }}</h5>
      </div>
      <div>
        <i class="bi bi-person-fill" style="font-size: 30px;"></i>
        <h5>{{ profe.edad }} años</h5>
      </div>
      <div>
        <i class="bi bi-info-circle-fill" style="font-size: 30px;"></i>
        <h5>{{ profe.description }}</h5>
      </div>
    </div>
  </div>
{% endblock %}
