{% extends 'base.html' %}
{% load static %}
{% block title %}
  Profesorado
{% endblock %}
{% block content %}
  <div class="container text-center">
    <div class="row justify-content-center align-content-center">
      {% for profe in profes %}
        <div class="col-2 justify-content-center" style="display: flex;">
          <a href="{% url 'profesorado:profesorado_detail' profe.slug %}">
            <div class="card" id="personCard">
              <img id="imgCard"
                src="{% if profe.image %}
                  {{ profe.image.url }}
                {% else %}
                  {% static 'img/no_image.jpg' %}
                {% endif %}"
                class="card-img-top" />
              <div class="card-body">
                <p class="card-title">{{ profe.name }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
