{% extends 'base.html' %}

{% block title %}
  Dashboard
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="card mb-3">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h1 class="card-title">Profesorado</h1>
      </div>
    </div>
    <div class="card mb-3">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h1 class="card-title">Concursantes</h1>
      </div>
    </div>
    <div class="card mb-3">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h1 class="card-title">Jurado</h1>
      </div>
    </div>
  </div>
{% endblock %}
