{% extends 'base.html' %}
{% load static %}
{% block title %}
  Dashboard
{% endblock %}
{% block content %}
  <div id="dashboardContent">
    <h1 class="title">OPERACIÓN TRIUNFO 2023</h1>
    <div class="container justify-content-center" style="display: flex;">
      <div class="row align-items-center" id="dashCards">
        <div class="col-4">
          <a href="{% url 'profesorado:profesorado_list' %}">
            <div class="card text-bg-dark" id="contentCard" style="width: 100%;">
              <img src="{% static 'img/profes.png' %}" class="card-img" />
              <div class="card-img-overlay" id="cardOverlay">
                <h5 class="card-title" id="cardTitle">Profesorado</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4">
          <a href="{% url 'alumnado:alumnado_list' %}">
            <div class="card text-bg-dark" id="contentCard" style="width: 100%;">
              <img src="{% static 'img/alumnado.png' %}" class="card-img" alt="..." />
              <div class="card-img-overlay" id="cardOverlay">
                <h5 id="cardTitle">Alumnado</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-4">
          <a href="{% url 'jurado:jurado_list' %}">
            <div class="card text-bg-dark" id="contentCard" style="width: 100%;">
              <img src="{% static 'img/jurado.png' %}" class="card-img" alt="..." />
              <div class="card-img-overlay" id="cardOverlay">
                <h5 class="card-title" id="cardTitle">Jurado</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
