{% extends 'base.html' %}
{% load static %}
{% block title %}
  Dashboard
{% endblock %}
{% block content %}
  <h1 class="title">Operación Triunfo 2023</h1>

  <div class="container text-center r justify-content-center">
    <div class="row align-items-center">
      <div class="col">
        <div class="card" style="width: 25rem;">
          <a href="{% url 'profesorado:profesorado_list' %}">
            <img src="{% static 'img/profes.png' %}" class="card-img-top" alt="Imagen no disponible" />
            <div class="card-body">
              <h5 class="card-title">Profesorado</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 25rem;">
          <a href="{% url 'alumnado:alumnado_list' %}">
            <img src="{% static 'img/concursantes.png' %}" class="card-img-top" alt="Imagen no disponible" />
            <div class="card-body">
              <h5 class="card-title">Alumnado</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 25rem;">
          <a href="{% url 'jurado:jurado_list' %}">
            <img src="{% static 'img/jurado.png' %}" class="card-img-top" alt="Imagen no disponible" />
            <div class="card-body">
              <h5 class="card-title">Jurado</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
