* {
    font-family: sans-serif
}

.logoImg {
    width: 3.5rem;
    border-radius: 50%;
}

#dashboardContent {
    margin-top: 6%;
}

#juradoContent {
    margin-top: 6%;
}

#alumnadoContent {
    margin-top: 3%;
}

#profesoradoContent {
    margin-top: 6%;
}

#data {
    margin-top: 6%;
}



/* Dashboard */
.title {
    text-align: center;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: center;
}

#dashCards {
    width: max-content;
    flex-wrap: nowrap;
    gap: 15px;
}

#cardOverlay {
    padding: 0;
}

#cardTitle {
    background: transparent;
    display: inline-block;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding-top: 75px;
    position: relative;
    transition: all 0.3s linear;
    left: -450px;
    backdrop-filter: blur(4px);
}

#contentCard:hover #cardTitle {
    transition: all 0.3s linear;
    left: 0px;
}

#contentCard {
    overflow: hidden;
}

/* Profesorado List */
a {
    outline: none;
    text-decoration: none;
    color: black;
}

#personCard {
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    border-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

#personCard:hover {
    box-shadow: 5px 5px 5px 5px rgba(148, 148, 148, 0.3);
}

#imgCard {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/* Profesorado Detail */
#data {
    display: flex;
    flex-direction: row;
}

#imgProfe {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-right: 1px solid #cfcfcf;
}

#imgProfe img {
    width: 50%;
    border-radius: 50%;
}

#dataProfe {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
    padding: 5%;
}

#dataProfe div {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: baseline;
}