.logoImg {
    width: 3.5rem;
    border-radius: 50%;
}

.content {
    margin-top: 6%;
}

.title {
    text-align: center;
    padding-bottom: 5%;
}

/* Profesorado List */
#personCard {
    margin-top: 20px;
    padding: 10px;
    width: 150px;
    border-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

#personCard:hover {
    box-shadow: 5px 5px 5px 5px rgba(148, 148, 148, 0.3);
}

#imgCard {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/* Profesorado Detail */
#data {
    display: flex;
    flex-direction: row;
}

#imgProfe {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#imgProfe img {
    width: 50%;
    border-radius: 50%;
}

#dataProfe {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#dataProfe h5 i {
    margin: 5px;
}

#dataProfe p i {
    margin: 5px;
}

