{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div id="data">
    <div id="imgProfe">
      <img src="{% if alumnado.avatar %}
          {{ alumnado.avatar.url }}
        {% else %}
          {% static 'img/no_image.jpg' %}
        {% endif %}" />
      <h2 class="card-title">{{ alumnado.name }}</h2>
    </div>
    <div id="dataProfe">
      <div>
        <i class="bi bi-geo-fill" style="font-size: 30px;"></i>
        <h5>{{ alumnado.is_from }}</h5>
      </div>
      <div>
        <i class="bi bi-person-fill" style="font-size: 30px;"></i>
        <h5>{{ alumnado.birthday }}</h5>
      </div>
      <div>
        <i class="bi bi-info-circle-fill" style="font-size: 30px;"></i>
        <p>{{ alumnado.job }}</p>
      </div>
      <div>
        <i class="bi bi-hourglass-split" style="font-size: 30px;"></i>
        <p>{{ alumnado.hobbies }}</p>
      </div>
      <div>
        <i class="bi bi-music-note-list" style="font-size: 30px;"></i>
        {% for music_style in music_styles.all %}
          <p>{{ alumnado.music_style.name }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
