{% extends 'base.html' %}
{% load static %}
{% block title %}
  Jurado
{% endblock %}
{% block content %}
  <div class="container text-center" id="juradoContent">
    <div class="row justify-content-center align-content-center">
      {% for jurado in jurados %}
        <div class="col-2 justify-content-center" style="display: flex;">
          <a href="{% url 'jurado:jurado_detail' jurado.slug %}">
            <div class="card" id="personCard">
              <img id="imgCard"
                src="{% if jurado.avatar %}
                  {{ jurado.avatar.url }}
                {% else %}
                  {% static 'img/no_image.jpg' %}
                {% endif %}"
                class="card-img-top" />
              <div class="card-body">
                <p class="card-title">{{ jurado.name }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}